{
	"consumerKey": "",
	"consumerSecret": "",
	"accessTokenKey": "",
	"accessTokenSecret": "",
	"statusToSend": "",
	"imagePath": "./images",
	"alreadySentPath": "./sent_images",
	"retweetImages": true,
	"numberToUpload": 1,
	"schedule": "0 * * * *",
	//If use status is defined, it sets numberToUpload to 1 automatically
	"useStatus": true,
	"statusFile": "statuses.json"
}